/* =========================
   BASE & LAYOUT
   ========================= */
@import "./base.css";
@import "./layout.css";
@import "./responsive.css";

/* =========================
   GLOBAL UI
   ========================= */
@import "./navbar.css";
@import "./components.css";
@import "./modal.css";

/* =========================
   HOME (fond global + page)
   ========================= */
@import "./home/home-background.css";
@import "./home/home-page.css";
@import "./home/projectsShowcase.css";

/* =========================
   HERO (contenu uniquement)
   ========================= */
@import "./hero.css";

/* =========================
   PARCOURS
   ========================= */
@import "./parcours/parcours.css";
@import "./parcours/bubbles.css";
@import "./parcours/screen.css";

/* =========================
   VOUS & MOI
   ========================= */
@import "./vous-et-moi/vousEtMoi.css";
@import "./vous-et-moi/vousEtMoiSections.css";
@import "./vous-et-moi/aurora.css";
@import "./vous-et-moi/contactCta.css";

/* =========================
   CONTACT
   ========================= */
@import "./contact.css";
