@import "./base.css";
@import "./layout.css";
@import "./navbar.css";
@import "./hero.css";
@import "./components.css";
@import "./timeline.css";
@import "./modal.css";
@import "./carousel/projectsCarousel.css";
@import "./carousel/projectModal.css";
@import "./contact.css";
@import "./responsive.css";
